.blocks__wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 1300px;
  background-color: #fff;
  @include content-center;
  justify-content: left;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
}
