.blocks__wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  background-color: #d4d4d4;
  @include content-center;
  justify-content: left;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
}
